# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 93d9ebe7f3506c7b667bf95c38816fe16f7474a8e1de569c4fdad919ec525a320038da5485ce48909b712e58ed2f7b17a4dab6a9e6b4c9408fa10cdb0ae5a760

test:
  secret_key_base: b23f766c6f48134007e3352daa6799d62152177c2430cb7139eb342cf230a0bc3f8a96adaacf85deef17039691e179b39ccd04301db69bda8215cc60d85ee0ec

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
